* {
    box-sizing: border-box;
    margin: 0;
}

.formulario {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nome {
    position: absolute;
    transform: translateX(-100%);
    padding-right: 10px;
}

.divform {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}